.text {
  font-family: var(--font-family-base);
  font-size: var(--font-size-md);
  color: var(--color-text-primary);
  text-align: left;
  margin: 0;
  padding: 0;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
}

.h1 {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
}

.h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.h3 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

.h4 {
  font-size: var(--font-size-md);
}

.h5 {
  font-size: var(--font-size-sm);
}

.h6 {
  font-size: var(--font-size-xs);
}

.p,
.span {
  font-size: var(--font-size-md);
}
