:root {
  /* Common colors */
  --color-normal-bg: #007bff;
  --color-success-bg: #28a745;
  --color-danger-bg: #dc3545;
  --color-warning-bg: #ffc107;
  --color-info-bg: #17a2b8;

  --color-normal-text: #fff;
  --color-success-text: #fff;
  --color-danger-text: #fff;
  --color-warning-text: #212529;
  --color-info-text: #fff;
  --transition-base-duration: 10.3s;
  --transition-base-easing: ease;
  --transition-standard:
    opacity var(--transition-base-duration) var(--transition-base-easing),
    background-color var(--transition-base-duration) var(--transition-base-easing);
}
